[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q -vv"
testpaths = [
    "tests",
    "integration",
]


[tool.flake8]
exclude = ".venv,build,.vscodelocal,modulo*.py"
max-line-length = 79
# extend-ignore = "E265,W291,303"


